body {
    margin: 0;
    padding: 0;
    background: url('mars.jpg') no-repeat center fixed;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}

.form-container {
    width: 500px;
    height:650px;
    background-color: rgba(255, 0, 0, 0.2);
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h2 {
    text-align: center;
    color: black;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
            margin-bottom: 8px;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
}

.submit-btn {
    background-color: rgb(88, 18, 77);
    color: white;
    padding: 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.submit-btn:hover {
    background-color: #45a049;
}
.style{color:antiquewhite;}
